<h1><%= user.firstname %> 's Profile </h1>
<div class="row">
    <div class="col s6">
        <img class="responsive-img" src="<%= user.photoUrl %>">
    </div>
    <div class="col s8">
        <h2><%= user.firstname %> <%= user.lastname %></h2>
        <p><strong>Admin Status:</strong> <%= user.admin ? 'Yes' : 'No' %></p>
    </div>
</div>